*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color:darkmagenta;
}

nav{
    background-color:yellow;
    height: auto;
    width: auto;
}

.logo{
    color: white;
    font-size: 35px;
    line-height: normal;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: left;
    margin-left: 20;
    flex-direction: row;

}
ul li{
    display: inline;
    padding: 10;
    font-size: x-small;
    align-items: center;
}

.work{
    float: right;
    background-color: yellow;
}
